.icon-Approve {
	background: url("../gfx/icons/approve.png") no-repeat;
}
.icon-Bar-Chart {
	background: url("../gfx/icons/bar-chart.png") no-repeat;
}
.icon-Bulb-Electric {
	background: url("../gfx/icons/bulb-electric.png") no-repeat;
}
.icon-Bulb-Idea {
	background: url("../gfx/icons/bulb-idea.png") no-repeat;
}
.icon-Calender {
	background: url("../gfx/icons/calender.png") no-repeat;
}
.icon-Camera {
	background: url("../gfx/icons/camera.png") no-repeat;
}
.icon-Cardholder {
	background: url("../gfx/icons/cardholder.png") no-repeat;
}
.icon-Chart-Bar {
	background: url("../gfx/icons/chart-bar.png") no-repeat;
}
.icon-Chat {
	background: url("../gfx/icons/chat.png") no-repeat;
}
.icon-Clipboard {
	background: url("../gfx/icons/clipboard.png") no-repeat;
}
.icon-Collapse {
	background: url("../gfx/icons/collapse.png") no-repeat;
}
.icon-Connection {
	background: url("../gfx/icons/connection.png") no-repeat;
}
.icon-Contact {
	background: url("../gfx/icons/contact.png") no-repeat;
}
.icon-Copy {
	background: url("../gfx/icons/copy.png") no-repeat;
}
.icon-Cut {
	background: url("../gfx/icons/cut.png") no-repeat;
}
.icon-Desktop {
	background: url("../gfx/icons/desktop.png") no-repeat;
}
.icon-Dice {
	background: url("../gfx/icons/dice.png") no-repeat;
}
.icon-Disapprove {
	background: url("../gfx/icons/disapprove.png") no-repeat;
}
.icon-Display {
	background: url("../gfx/icons/display.png") no-repeat;
}
.icon-Document {
	background: url("../gfx/icons/document.png") no-repeat;
}
.icon-Download {
	background: url("../gfx/icons/download.png") no-repeat;
}
.icon-Dvd {
	background: url("../gfx/icons/dvd.png") no-repeat;
}
.icon-Email-Send {
	background: url("../gfx/icons/email-send.png") no-repeat;
}
.icon-Error {
	background: url("../gfx/icons/error.png") no-repeat;
}
.icon-Expand {
	background: url("../gfx/icons/expand.png") no-repeat;
}
.icon-Favorites {
	background: url("../gfx/icons/favorites.png") no-repeat;
}
.icon-Fax {
	background: url("../gfx/icons/fax.png") no-repeat;
}
.icon-File-Documents {
	background: url("../gfx/icons/file-documents.png") no-repeat;
}
.icon-Find {
	background: url("../gfx/icons/find.png") no-repeat;
}
.icon-Floppy-Drive {
	background: url("../gfx/icons/floppy-drive.png") no-repeat;
}
.icon-Folder {
	background: url("../gfx/icons/folder.png") no-repeat;
}
.icon-Global-Settings {
	background: url("../gfx/icons/global-settings.png") no-repeat;
}
.icon-Group {
	background: url("../gfx/icons/group.png") no-repeat;
}
.icon-Hard-Drive {
	background: url("../gfx/icons/hard-drive.png") no-repeat;
}
.icon-Help {
	background: url("../gfx/icons/help.png") no-repeat;
}
.icon-History {
	background: url("../gfx/icons/history.png") no-repeat;
}
.icon-Home {
	background: url("../gfx/icons/home.png") no-repeat;
}
.icon-Information {
	background: url("../gfx/icons/information.png") no-repeat;
}
.icon-Internet-Update {
	background: url("../gfx/icons/internet-update.png") no-repeat;
}
.icon-Keyboard {
	background: url("../gfx/icons/keyboard.png") no-repeat;
}
.icon-Logout {
	background: url("../gfx/icons/logout.png") no-repeat;
}
.icon-Lounge {
	background: url("../gfx/icons/lounge.png") no-repeat;
}
.icon-Menu {
	background: url("../gfx/icons/menu.png") no-repeat;
}
.icon-Network-Drive {
	background: url("../gfx/icons/network-drive.png") no-repeat;
}
.icon-Objects {
	background: url("../gfx/icons/objects.png") no-repeat;
}
.icon-Office-Chair {
	background: url("../gfx/icons/office-chair.png") no-repeat;
}
.icon-Open {
	background: url("../gfx/icons/open.png") no-repeat;
}
.icon-Paste {
	background: url("../gfx/icons/paste.png") no-repeat;
}
.icon-Pda {
	background: url("../gfx/icons/pda.png") no-repeat;
}
.icon-Pictures {
	background: url("../gfx/icons/pictures.png") no-repeat;
}
.icon-Pie-Chart {
	background: url("../gfx/icons/pie-chart.png") no-repeat;
}
.icon-Printer {
	background: url("../gfx/icons/printer.png") no-repeat;
}
.icon-Question {
	background: url("../gfx/icons/question.png") no-repeat;
}
.icon-Recycle-Bin {
	background: url("../gfx/icons/recycle-bin.png") no-repeat;
}
.icon-Redo {
	background: url("../gfx/icons/redo.png") no-repeat;
}
.icon-Rename {
	background: url("../gfx/icons/rename.png") no-repeat;
}
.icon-Report {
	background: url("../gfx/icons/report.png") no-repeat;
}
.icon-Save {
	background: url("../gfx/icons/save.png") no-repeat;
}
.icon-Scanner {
	background: url("../gfx/icons/scanner.png") no-repeat;
}
.icon-Search {
	background: url("../gfx/icons/search.png") no-repeat;
}
.icon-Security {
	background: url("../gfx/icons/security.png") no-repeat;
}
.icon-Server {
	background: url("../gfx/icons/server.png") no-repeat;
}
.icon-Shopping-Cart {
	background: url("../gfx/icons/shopping-cart.png") no-repeat;
}
.icon-Sound-Mute {
	background: url("../gfx/icons/sound-mute.png") no-repeat;
}
.icon-Sound-On {
	background: url("../gfx/icons/sound-on.png") no-repeat;
}
.icon-Speakers {
	background: url("../gfx/icons/speakers.png") no-repeat;
}
.icon-Start {
	background: url("../gfx/icons/start.png") no-repeat;
}
.icon-Stop {
	background: url("../gfx/icons/stop.png") no-repeat;
}
.icon-Systems {
	background: url("../gfx/icons/systems.png") no-repeat;
}
.icon-Task {
	background: url("../gfx/icons/task.png") no-repeat;
}
.icon-Tech {
	background: url("../gfx/icons/tech.png") no-repeat;
}
.icon-Time {
	background: url("../gfx/icons/time.png") no-repeat;
}
.icon-Tools {
	background: url("../gfx/icons/tools.png") no-repeat;
}
.icon-Undo {
	background: url("../gfx/icons/undo.png") no-repeat;
}
.icon-User {
	background: url("../gfx/icons/user.png") no-repeat;
}
.icon-Warning {
	background: url("../gfx/icons/warning.png") no-repeat;
}
.icon-Webcam {
	background: url("../gfx/icons/webcam.png") no-repeat;
}
.icon-Window {
	background: url("../gfx/icons/window.png") no-repeat;
}